<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/books/list">Books</a></li>
            <li><a href="/users/list">Users</a></li>
            <li><a href="/loans/list">Loans</a></li>
        </ul>
    </nav>

    <h1>Book List</h1>
    <ul id="bookList"></ul>
    
    <script>
        let allBooks = [];

        function getBooks() {
            axios.get('/books')
                .then(function (response) {
                    allBooks = response.data.books;
                    displayBooks();
                })
                .catch(function (error) {
                    console.error('Error fetching books:', error);
                });
        }
        getBooks();

        function displayBooks() {
            let bookList = document.getElementById('bookList');
            bookList.innerHTML = "";

            allBooks.forEach(function (book) {
                let listItem = document.createElement('li');
                listItem.textContent = book.title + ", " + book.author + ", " + book.year_published + ".";
                bookList.appendChild(listItem);
            });
        }
    </script>
</body>
</html>
