<!DOCTYPE html>
<html>
<head>
    <title>Loan List</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Loan List</h1>
    <ul id="loanList"></ul>
    
    <script>
        let allLoans = [];

        function getLoans() {
            axios.get('/loans')
                .then(function (response) {
                    allLoans = response.data.loans;
                    displayLoans();
                })
                .catch(function (error) {
                    console.error('Error fetching loans:', error);
                });
        }
        getLoans();

        function displayLoans() {
            let loanList = document.getElementById('loanList');
            loanList.innerHTML = ""; // Clear existing content

            allLoans.forEach(function (loan) {
                let listItem = document.createElement('li');
                listItem.textContent = loan.book_id + ", " + loan.user_id + ", " + loan.loan_date + ", " + loan.loan_length;
                loanList.appendChild(listItem);
            });
        }
    </script>
</body>
</html>
