<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>User List</h1>
    <ul id="userList"></ul>
    
    <script>
        let allUsers = [];

        function getUsers() {
            axios.get('/users')
                .then(function (response) {
                    allUsers = response.data.users;
                    displayUsers();
                })
                .catch(function (error) {
                    console.error('Error fetching users:', error);
                });
        }
        getUsers();

        function displayUsers() {
            let userList = document.getElementById('userList');
            userList.innerHTML = ""; // Clear existing content

            allUsers.forEach(function (user) {
                let listItem = document.createElement('li');
                listItem.textContent = user.name + ", " + user.city + ", " + user.age + ".";
                userList.appendChild(listItem);
            });
        }
    </script>
</body>
</html>
